@font-face {
    font-family: 'Kanit-Regular';
    src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Kanit-Regular';
    font-size: 14px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #0175A4;
}

h2 {
    font-size: 16px;
    color: #999999;
}

 
 

.row.content {
    height: 720px
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.header {
    z-index: 99;
    height: 80px;
    background-color: #0175A4;
    color: white;
    padding: 10px;
}

.expand {
    height: 20px;
    overflow: hidden;
    /* background-color: #CCCCCC; */
    cursor: pointer
}

.expand:hover {
    height: auto;
    cursor: hand;
}

.example-avater {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.avatar {
    margin: 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

 
footer {
    background-color: #0175A4;
    color: white;
    padding: 10px;
}

.dropbtn {
    background-color: #26a5a5;
    color: white;
    padding: 4px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgb(111, 178, 199);
}

.menu-active {
    border-top: 1px solid #ECECEC;
    border-left: 4px solid #0175A4;
    color: #0175A4;
    text-decoration: none;
}

.menu {
    border-top: 1px solid #ECECEC;
    border-left: 4px solid #fff;
    text-decoration: none;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

#sidebar-wrapper {
    top: 0px !important;
}

.logo {
    text-indent: 0px !important;
    /* background-color: #0175A4;  */
    height: 80px !important;
    padding-top: 4px;
}

.brand-line-one {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
}

.brand-line-second {
    font-size: 20px;
    padding: 0px;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ECECEC;
    text-align: center;
    padding: 6px;
    font-weight: normal;
}

th {
    border: 1px solid #ECECEC;
    background-color: #0175A4;
    text-align: center;
    padding: 6px;
    color: #fff;
    font-weight: normal;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.button {
    font-family: 'Kanit-Regular';
    color: #fff;
    margin: 14px 0px;
    padding: 6px 36px;
    background-color: #048DC2;
    display: inline-block;
    border: 1px solid transparent;
}

.img-detail {
    width: 200px;
    height: auto;
}

/* .padding-content{
    margin: 10%;
} */

h2 {
    font-weight: bold;
    color: #0175A4;
}

.form-check-input {
    margin-left: 0;
}

.check-input{
    margin-left: -1.25rem;
}
.token{
    font-size:14px;
}

@media only screen and (max-width: 1600px) {
    .img-detail {
        width: 200px;
        height: auto;
    }
}

@media only screen and (max-width: 1440px) {
    .img-detail {
        width: 200px;
        height: auto;
    }
}

@media only screen and (max-width: 1366px) {
    .img-detail {
        width: 200px;
        height: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .img-detail {
        width: 200px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .img-detail {
        width: 120px;
        height: auto;
    }
}

@media only screen and (max-width: 640px) {
    .img-detail {
        width: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    .img-detail {
        width: 70px;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    /* .img-detail {
        width: 50px;
        height: auto;
    }
    .toggled {
        display: none;
    } */
}

.icon {
    cursor: pointer;
}